body {
	margin:0px;
	padding:0px;
	min-width: 960px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 11px;
	font-weight:normal;
	line-height: 1em;
	letter-spacing: 0;	
	text-align: left;
	word-spacing: normal;
	text-decoration: none;
	color: #444;
	background-image:url('../img/patt2.gif');
	background-color:#121014;
}

a {
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 12px;
	font-weight:normal;
	line-height: 1em;
	letter-spacing: 0;	
	text-align: center;
	word-spacing: normal;
	text-decoration: none;
	color:#6db2b6;
-webkit-transition:All 500ms ease;
-moz-transition:All 500ms ease;
-o-transition:All 500ms ease;
}

a:VISITED {	
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 12px;
	font-weight:normal;
	line-height: 1em;
	letter-spacing: 0;	
	text-align: center;
	word-spacing: normal;
	text-decoration: none;

}
a:HOVER{
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 12px;
	font-weight:normal;
	line-height: 1em;
	letter-spacing: 0;	
	text-align: center;
	word-spacing: normal;
	text-decoration: underline;
	color:#ff7e00;
}

#upload_frame {
	border:0px;
	height:40px;
	width:400px;
	display:none;
}

#progress_container {
	width: 300px; 
	height: 30px; 
	border: 1px solid #CCCCCC; 
	background-color:#EBEBEB;
	display: block; 
	margin:5px 0px -15px 0px;
}

#progress_bar {
	position: relative; 
	height: 30px; 
	background-color: #F3631C; 
	width: 0%; 
	z-index:10; 
}

#progress_completed {
	font-size:16px; 
	z-index:40; 
	line-height:30px; 
	padding-left:4px; 
	color:#FFFFFF;
}


.top {
	height:71px;
	width:100%;
	background-image:url('../img/top_ox2.gif');
}

.bot {
	min-height:200px;
	width:100%;
	margin-top:30px;
}

.logo {
	position:relative;
	left:-30px;
	margin-left:30px;
	width:198px;
	height:70;
	background-image:url('../img/logo2.png');
}

.logo:HOVER {
	position:relative;
	left:-30px;
	margin-left:30px;
	width:198px;
	height:70;
	background-image:url('../img/logo2_hover.png');
}
.centerbox {
	margin-left:auto;
	margin-right:auto;
	background-color:;
	width:750px;
}

.paginacja {
	margin:0px;
	padding:0px;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 18px;
	font-weight:normal;
	line-height: 1em;
	letter-spacing: 0;	
	text-align: center;
	word-spacing: normal;
	text-decoration: none;
}

.movie {
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
	padding-bottom:0px;
}

.box {
	width:730px;
	align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	min-height:10px;
	background-color:#121014;
	border:solid 0px #191919;
	-moz-border-radius-topleft: 35px;
	-moz-border-radius-topright:35px;
	-moz-border-radius-bottomleft:35px;
	-moz-border-radius-bottomright:35px;
	-webkit-border-top-left-radius:35px;
	-webkit-border-top-right-radius:35px;
	-webkit-border-bottom-left-radius:35px;
	-webkit-border-bottom-right-radius:35px;
	border-top-left-radius:35px;
	border-top-right-radius:35px;
	border-bottom-left-radius:35px;
	border-bottom-right-radius:35px;
}
	
	
textarea {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 11px;
	padding:5px;
	rows:10;
	width:500px;
	background:#fff;
	border:solid 1px #a8acff;
}

textarea:HOVER {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 11px;
	padding:5px;
	rows:10;
	width:350px;
	background:#f3f4ff;
	border:solid 1px #a8acff;
}


input {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 11px;
	padding:5px;
	height:26px;
	color:#aaa;
	background:#0b0b0b;
	border:solid 1px #191919;
	-webkit-transition:All 500ms ease;
-moz-transition:All 500ms ease;
-o-transition:All 500ms ease;
}

input:HOVER {
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
	font-size: 11px;
	padding:5px;
	height:26px;
	color:#aaa;
	background:#453834;
	border:solid 1px #191919;
}
